services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_TEST_DB: ${POSTGRES_TEST_DB}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./docker/init:/docker-entrypoint-initdb.d:ro
  api:
    build: .
    volumes:
      - .:/app
    depends_on:
      - db
    env_file: .env
    command:
      [
        "sh",
        "-c",
        "uvicorn app.main:app --host ${APP_HOST} --port ${APP_PORT} --reload --workers ${APP_WORKERS}",
      ]
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app

volumes:
  db_data:
