name: MobyPark
on: [push, pull_request]
env:
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_TEST_DB: ${{ secrets.POSTGRES_TEST_DB }}
  # --- App (FastAPI / Uvicorn / Gunicorn) ---
  APP_HOST: ${{ secrets.APP_HOST }}
  APP_PORT: ${{ secrets.APP_PORT }}
  APP_WORKERS: ${{ secrets.APP_WORKERS }}

  # --- DB connection for the app / Alembic ---
  DATABASE_HOST: db # the docker-compose service name for Postgres
  DATABASE_PORT: 5432
  DATABASE_NAME: ${POSTGRES_DB}
  DATABASE_USER: ${POSTGRES_USER}
  DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
  DATABASE_URL: postgresql+psycopg://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$DATABASE_NAME
  DATABASE_URL_TEST: postgresql+psycopg://$DATABASE_USER:$DATABASE_PASSWORD@$DATABASE_HOST:$DATABASE_PORT/$POSTGRES_TEST_DB

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Spin up docker
        run: docker compose up -d
      - name: Test with pytest
        run: |
          pip install pytest pytest-cov
          pytest --doctest-modules --junitxml=junit/test-results.xml --cov=com --cov-report=xml --cov-report=html
